{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ring/ring {:mvn/version "1.10.0"}
        ring/ring-jetty-adapter {:mvn/version "1.8.2"}
        metosin/reitit {:mvn/version "0.7.0-alpha5"}}
 :aliases
 {:run-m {:main-opts ["-m" "askonomm.shape"]}
  :run-x {:ns-default askonomm.shape
          :exec-fn run
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
